.footer {
  background: white;
  color: black;
  text-align: center;
  padding: 15px 10px;
  font-family: "Times New Roman", serif;
  font-size: 14px;
  font-weight: 400;
  border-top: 2px solid white;
}

@media (max-width: 768px) {
  .footer {
    font-size: 12px;
    padding: 10px;
  }
}
